In [2]:
import pandas as pd
from autogluon.tabular import TabularDataset, TabularPredictor

In [3]:
train_data = TabularDataset('https://autogluon.s3.amazonaws.com/datasets/Inc/train.csv')
train_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,178478,Bachelors,13,Never-married,Tech-support,Own-child,White,Female,0,0,40,United-States,<=50K
1,23,State-gov,61743,5th-6th,3,Never-married,Transport-moving,Not-in-family,White,Male,0,0,35,United-States,<=50K
2,46,Private,376789,HS-grad,9,Never-married,Other-service,Not-in-family,White,Male,0,0,15,United-States,<=50K
3,55,?,200235,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,50,United-States,>50K
4,36,Private,224541,7th-8th,4,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,El-Salvador,<=50K

In [4]:
label='class'
train_data[label].describe()

count      39073
unique         2
top        <=50K
freq       29704
Name: class, dtype: object

In [5]:
save_path = 'agModels-predictClass'  # specifies folder to store trained models
predictor = TabularPredictor(label=label, path=save_path).fit(train_data)

Beginning AutoGluon training ...
AutoGluon will save models to "agModels-predictClass\"
AutoGluon Version:  0.5.2
Python Version:     3.9.12
Operating System:   Windows
Train Data Rows:    39073
Train Data Columns: 14
Label Column: class
Preprocessing data ...
AutoGluon infers your prediction problem is: 'binary' (because only two unique label-values observed).
	2 unique label values:  [' <=50K', ' >50K']
	If 'binary' is not the correct problem_type, please manually specify the problem_type parameter during predictor init (You may specify problem_type as one of: ['binary', 'multiclass', 'regression'])
Selected class <--> label mapping:  class 1 =  >50K, class 0 =  <=50K
	Note: For your binary classification, AutoGluon arbitrarily selected which label-value represents positive ( >50K) vs negative ( <=50K) class.
	To explicitly set the positive_class, either rename classes to 1 and 0, or specify positive_class in Predictor init.
Using Feature Generators to preprocess the data ...
Fitting AutoMLPipelineFeatureGenerator...
	Available Memory:                    6621.7 MB
	Train Data (Original)  Memory Usage: 22.92 MB (0.3% of available memory)
	Inferring data type of each feature based on column values. Set feature_metadata_in to manually specify special dtypes of the features.
	Stage 1 Generators:
		Fitting AsTypeFeatureGenerator...
			Note: Converting 1 features to boolean dtype as they only contain 2 unique values.
	Stage 2 Generators:
		Fitting FillNaFeatureGenerator...
	Stage 3 Generators:
		Fitting IdentityFeatureGenerator...
		Fitting CategoryFeatureGenerator...
			Fitting CategoryMemoryMinimizeFeatureGenerator...
	Stage 4 Generators:
		Fitting DropUniqueFeatureGenerator...
	Types of features in original data (raw dtype, special dtypes):
		('int', [])    : 6 | ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', ...]
		('object', []) : 8 | ['workclass', 'education', 'marital-status', 'occupation', 'relationship', ...]
	Types of features in processed data (raw dtype, special dtypes):
		('category', [])  : 7 | ['workclass', 'education', 'marital-status', 'occupation', 'relationship', ...]
		('int', [])       : 6 | ['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss', ...]
		('int', ['bool']) : 1 | ['sex']
	0.2s = Fit runtime
	14 features in original data used to generate 14 features in processed data.
	Train Data (Processed) Memory Usage: 2.19 MB (0.0% of available memory)
Data preprocessing and feature engineering runtime = 0.24s ...
AutoGluon will gauge predictive performance using evaluation metric: 'accuracy'
	To change this, specify the eval_metric parameter of Predictor()
Automatically generating train/validation split with holdout_frac=0.0639828014229775, Train Rows: 36573, Val Rows: 2500
Fitting 13 L1 models ...
Fitting model: KNeighborsUnif ...
	0.7752	 = Validation score   (accuracy)
	0.07s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: KNeighborsDist ...
	0.766	 = Validation score   (accuracy)
	0.07s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBMXT ...
	0.8792	 = Validation score   (accuracy)
	1.79s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: LightGBM ...
	0.8824	 = Validation score   (accuracy)
	0.56s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: RandomForestGini ...
	0.8588	 = Validation score   (accuracy)
	1.7s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: RandomForestEntr ...
	0.862	 = Validation score   (accuracy)
	1.68s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: CatBoost ...
C:\Users\Kaleb\anaconda3\envs\myenv\lib\site-packages\xgboost\compat.py:31: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import MultiIndex, Int64Index
	0.8824	 = Validation score   (accuracy)
	12.68s	 = Training   runtime
	0.01s	 = Validation runtime
Fitting model: ExtraTreesGini ...
	0.85	 = Validation score   (accuracy)
	1.2s	 = Training   runtime
	0.07s	 = Validation runtime
Fitting model: ExtraTreesEntr ...
	0.848	 = Validation score   (accuracy)
	1.23s	 = Training   runtime
	0.09s	 = Validation runtime
Fitting model: NeuralNetFastAI ...
	0.8632	 = Validation score   (accuracy)
	42.67s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: XGBoost ...
	0.8872	 = Validation score   (accuracy)
	0.86s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: NeuralNetTorch ...
	0.86	 = Validation score   (accuracy)
	57.04s	 = Training   runtime
	0.05s	 = Validation runtime
Fitting model: LightGBMLarge ...
	0.8856	 = Validation score   (accuracy)
	1.06s	 = Training   runtime
	0.02s	 = Validation runtime
Fitting model: WeightedEnsemble_L2 ...
	0.8912	 = Validation score   (accuracy)
	0.94s	 = Training   runtime
	0.0s	 = Validation runtime
AutoGluon training complete, total runtime = 125.67s ... Best model: "WeightedEnsemble_L2"
TabularPredictor saved. To load, use: predictor = TabularPredictor.load("agModels-predictClass\")

In [6]:
test_data = TabularDataset('https://autogluon.s3.amazonaws.com/datasets/Inc/test.csv')
y_test = test_data[label]  # values to predict
test_data_nolab = test_data.drop(columns=[label])  # delete label column to prove we're not cheating
test_data_nolab.head()

Loaded data from: https://autogluon.s3.amazonaws.com/datasets/Inc/test.csv | Columns = 15 / 15 | Rows = 9769 -> 9769

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,31,Private,169085,11th,7,Married-civ-spouse,Sales,Wife,White,Female,0,0,20,United-States
1,17,Self-emp-not-inc,226203,12th,8,Never-married,Sales,Own-child,White,Male,0,0,45,United-States
2,47,Private,54260,Assoc-voc,11,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1887,60,United-States
3,21,Private,176262,Some-college,10,Never-married,Exec-managerial,Own-child,White,Female,0,0,30,United-States
4,17,Private,241185,12th,8,Never-married,Prof-specialty,Own-child,White,Male,0,0,20,United-States

In [7]:
predictor = TabularPredictor.load(save_path)  # unnecessary, just demonstrates how to load previously-trained predictor from file

y_pred = predictor.predict(test_data_nolab)
print("Predictions:  \n", y_pred)
perf = predictor.evaluate_predictions(y_true=y_test, y_pred=y_pred, auxiliary_metrics=True)

Evaluation: accuracy on test data: 0.8763435356740711
Evaluations on test data:
{
    "accuracy": 0.8763435356740711,
    "balanced_accuracy": 0.7950062351568354,
    "mcc": 0.6395678748952276,
    "f1": 0.710727969348659,
    "precision": 0.798708288482239,
    "recall": 0.640207075064711
}

Predictions:
 0        <=50K
1        <=50K
2         >50K
3        <=50K
4        <=50K
         ...
9764     <=50K
9765     <=50K
9766     <=50K
9767     <=50K
9768     <=50K
Name: class, Length: 9769, dtype: object

In [8]:
predictor.leaderboard(test_data, silent=True)

,model,score_test,score_val,pred_time_test,pred_time_val,fit_time,pred_time_test_marginal,pred_time_val_marginal,fit_time_marginal,stack_level,can_infer,fit_order
0,XGBoost,0.877162,0.8872,0.061999,0.019343,0.857542,0.061999,0.019343,0.857542,1,True,11
1,WeightedEnsemble_L2,0.876344,0.8912,0.275789,0.105148,5.275351,0.003968,0.002976,0.941904,2,True,14
2,CatBoost,0.874399,0.8824,0.020834,0.009423,12.676426,0.020834,0.009423,12.676426,1,True,7
3,LightGBMLarge,0.873784,0.8856,0.063984,0.024303,1.064912,0.063984,0.024303,1.064912,1,True,13
4,LightGBM,0.873477,0.8824,0.036208,0.018847,0.557504,0.036208,0.018847,0.557504,1,True,4
5,LightGBMXT,0.871430,0.8792,0.066975,0.022816,1.787025,0.066975,0.022816,1.787025,1,True,3
6,RandomForestGini,0.860579,0.8588,0.272791,0.071424,1.702459,0.272791,0.071424,1.702459,1,True,5
7,NeuralNetTorch,0.858942,0.8600,0.138403,0.053568,57.038164,0.138403,0.053568,57.038164,1,True,12
8,RandomForestEntr,0.857918,0.8620,0.286183,0.065970,1.683049,0.286183,0.065970,1.683049,1,True,6
9,NeuralNetFastAI,0.857816,0.8632,0.151265,0.052575,42.674844,0.151265,0.052575,42.674844,1,True,10
10,ExtraTreesGini,0.852697,0.8500,0.418114,0.069937,1.204287,0.418114,0.069937,1.204287,1,True,8
11,ExtraTreesEntr,0.850548,0.8480,0.432191,0.085807,1.232768,0.432191,0.085807,1.232768,1,True,9
12,KNeighborsUnif,0.773262,0.7752,0.042655,0.016863,0.066465,0.042655,0.016863,0.066465,1,True,1
13,KNeighborsDist,0.762514,0.7660,0.076384,0.018353,0.066959,0.076384,0.018353,0.066959,1,True,2